---
layout: default
---

<div class="home-header">
  <h1>Paul Davis</h1>
  <h2>Front-end developer</h2>
</div>


<div id="content" class="content home-page-list" role="main">

  {% for post in site.posts %}
    {% capture post_month %}
      {{post.date | date: "%m"}}
    {% endcapture %}
    {% if post_month != prev_post_month %}
      {% if prev_post_month %}
        <br>
      {% endif %}
      <b>{{post.date | date: "%B %Y"}}</b><br>
    {% endif %}
    <a href="{{ post.url }}">{{ post.title }}</a> <time>{{post.date | date: "%A %e" }}</time><br>
    {% capture prev_post_month %}{{post_month}}{% endcapture %}
  {% endfor %}

</div>