<footer class="site-footer clearfix">
    <div class="wrapper clearfix">
        <div class="left">
            <small class="copyright"><a href="{{ site.url }}"> &copy; 2015 Paul Davis</a></small>
            <br>
            <span class="poweredby"><a href="https://github.com/PaulAdamDavis/Blog">Source on GitHub</a></span>
        </div>
        <div class="right">
            <a href="{{ site.url }}/rss.xml">RSS Feed</a>
        </div>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
    if (typeof jQuery === 'undefined') {
        document.write(unescape('{{ "/js/jquery.min.js" | prepend: site.baseurl | url_escape }}'));
    }
</script>

<script src="{{ "/js/bigfoot.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jquery.fitvids.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/imagesloaded.pkgd.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/index.js" | prepend: site.baseurl }}"></script>
