<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{{ "/favicon.ico" | prepend: site.baseurl }}">

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}" media="screen, projection, handheld">
    <link rel="stylesheet" href="{{ "/css/print.css" | prepend: site.baseurl }}" media="print">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Fira+Sans:300,500,300italic,500italic">
</head>