//
// Globals
// --------------------------------------------------

* {
    box-sizing: border-box;
}

body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;

    min-height: 100vh;
}

main {
    padding: 0 15px;

    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
}


//
// Utilities
// --------------------------------------------------

figure {
    margin: 0;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}