.home-list {
    .single-post + .single-post {
        border-top: 1px solid $grey_light;
    }

    .meta {
        time {
            float: left;
        }

        .permalink-for-link-post {
            float: left;
            position: relative;
            top: -2px;
            margin-left: 10px;
            font-size: 3rem;
            line-height: 2.2rem;
        }
    }

    .pagination {
        max-width: ($content_width + 200);
    }
}