---
layout: default
---

<article class="post single-post {% if page.link %}link-post{% endif %}" role="main" itemscope itemtype="http://schema.org/BlogPosting">
    <header class="post-header">
        <h1 class="post-title">
            {% if page.link %}<a href="{{ page.link }}">{% endif %}
            {{ page.title }}
            {% if page.link %} &rarr;</a>{% endif %}
        </h1>
        <p class="meta">
            <time datetime="{{ page.date }}">{{ page.date | date: "%e %B %Y" }}</time>
        </p>
    </header>

    <section class="post-content">
        {{ content }}
    </section>

    <aside class="pagination clearfix">
        {% if page.next.url %}
            <a class="newer-posts" href="{{page.next.url}}"><span>‹</span> Newer Post</a>
        {% endif %}
        {% if page.next.url and page.previous.url %}
        <span class="page-number">&nbsp;</span>
        {% endif %}
        {% if page.previous.url %}
            <a class="older-posts" href="{{page.previous.url}}">Older Post <span>›</span></a>
        {% endif %}
    </aside>

</article>